{% extends 'base.html' %} {% from 'bootstrap/pagination.html' import render_pager %} {% block title %}Home{% endblock %} {% block content %}

<div style="position: relative;
    width: 100%;
	height: 850px;
">
    <div style="position: absolute;
    top: 0;
	bottom: 0;
    left: 520px;
    right: 0;">
    <p style="font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 100;
font-size: 36px;
line-height: 50px;
color: #1E2F3E;
/* or 139% */

letter-spacing: 0.005em;">Born in Hunan in the summer of 1995. Raised in Shenzhen and right now studying Physics at Tokyo University of Science.</p>
        <p style="font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 100;
font-size: 36px;
line-height: 50px;
color: #1E2F3E;
/* or 139% */

letter-spacing: 0.005em;">Interested in Physics, Computer Science and Kung Fu.</p>
        <p style="font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 100;
font-size: 36px;
line-height: 50px;
color: #1E2F3E;
/* or 139% */

letter-spacing: 0.005em;">Currently using Python, C, Swift and Java for Web development, IOS development, etc.</p>
        <p style="font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 100;
font-size: 36px;
line-height: 50px;
color: #1E2F3E;
/* or 139% */

letter-spacing: 0.005em;">“The limits of my language means the limits of my world.” ― Ludwig Wittgenstein</p>
        </div>
        <h1 class="display-3" style="position: absolute;
width: 344px;
height: 1107px;
left: -90px;
top: -100px;
z-index:-1;
color: #1E2F3E;

">謝瑋聰</h1>
    </div>
<hr>
<div class="row">
    <div style="font-family: Noto Sans;font-size: 30px;color: #1E2F3E;">
        {% include 'blog/_posts.html' %} {% if posts %}
        <div style="font-family: Noto Sans;font-size: 20px;color: #1E2F3E;">{{ render_pager(pagination) }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}