{% extends 'base.html' %} {% from 'bootstrap/pagination.html' import render_pager %} {% block title %}Home{% endblock %} {% block content %}

<div style="position: relative;
    width: 100%;
	height: 850px;
">
    <div style="position: absolute;
    top: 0;
	bottom: 0;
    left: 520px;
    right: 0;">
    <p class="display-5">Born in Hunan in the summer of 1995, he grew up in Shenzhen and studied in Tokyo. Studied physics at Tokyo University of Science, and loves physics and computer science, as well as philosophy and literature. I would like to make the world a better place with my own efforts.</p>
        <p class="display-5">“The limits of my language means the limits of my world.” ― Ludwig Wittgenstein</p>
        </div>
        <h1 class="display-3">謝瑋聰</h1>
    </div>
<hr>
<div class="row">
    <div class="display-6" style="font-size: 30px">
        {% include 'blog/_posts.html' %} {% if posts %}
        <div class="display-6" style="font-size: 20px">{{ render_pager(pagination) }}</div>
        {% endif %}
    </div>

</div>
{% endblock %}